# General
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/

# Airflow specific
airflow.cfg
airflow.db
unittests.cfg
webserver_config.py
logs/
*.pid
*.err
*.log

# Google Cloud Service Accounts (VERY IMPORTANT)
*.json
*.p12
*.pem

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml
